<div class="container">
  <div class="row my-5">
    <div class="col my-5">
      <h4 class="text-center">ご注文ありがとうございました!</h4>
      <p class="my-5 text-center "><%= link_to "トップへ戻る" ,root_path, class:"text-dark" %></p>
    </div>
  </div>
</div>

