<div class="main-container d-flex align-items-center pb-5">
  <!--<div class="row">-->


       <div class=" text-yellow offset-1">
      <h4>産地直送、新鮮な材料を使用！<br>
      旬のフルーツとこだわりのクリーム</h4>
      <h2 class="offset-2">Nagano Cake</h2>
      </div>
  <!--</div>-->
</div>