<div class="container">
  <h4><span class="bg-light">商品編集</span></h4>
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <%= form_with model: @item ,url: administrator_item_path,method: :patch do |f| %>
        <%= render partial: "administrator/items/form", locals: { f: f } %>
        <div class="text-center">
          <%= f.submit "変更を保存する",class: "btn btn-success" %>
        </div>
      <% end %>
   </div>
  </div>
</div>
