<div class="container">
  <h2 class="mt-5"><span class="bg-light">商品新規登録</span></h2>
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <%= form_with model: @item ,url: administrator_items_path,method: :post do |f| %>
        <%= render partial: "administrator/items/form", locals: { f: f } %>
        <div class="text-center">
          <%= f.submit "新規登録",class: "btn btn-success" %>
        </div>
      <% end %>
   </div>
  </div>
</div>